:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --button-background: #f5f4fa;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --secondary-background: #2f303a;
  --grey-background: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page {
  color: var(--primary-text-color);
  background-color: var(--white-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--title-text-color);

  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
}
.logoblue {
  color: var(--accent-color);
}

/* Site nav */

.link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link.contact {
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link.current {
  color: var(--accent-color);
}

.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--white-color);
  background-color: var(--secondary-background);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.7;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.7;

  text-align: center;
}

.section.feature {
  padding-bottom: 0;
}

.section.feature h2 {
  margin-bottom: 0;
  font-size: 0;
}

.card-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.feature-text {
  font-size: 14px;
  line-height: 1.7;
}

.section.team {
  background-color: var(--grey-background);
}

.team-title {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
}

.card-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.card-text {
  font-size: 16px;
  line-height: 1.9;
}

.button {
  display: inline-block;
  border-radius: 4px;

  background-color: var(--accent-color);
  color: var(--white-color);

  font-family: inherit;
  text-decoration: none;
  text-align: center;
}

.hero > .button {
  padding: 10px 32px;
}

.portfolio-nav.button {
  background-color: var(--button-background);
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.portfolio-nav.button:hover,
.portfolio-nav.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

footer {
  background-color: #2f303a;
}

.address {
  color: var(--white-color);

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer-link {
  color: var(--footer-link-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.logo.footerlogo {
  color: var(--white-color);
}
